.class-breakdown {
    align-items: center;
    display: grid;
    gap: 2rem;
    justify-content: center;
    margin: 1.5rem auto 1rem;
}

.donut-segment {
    fill: none;
    stroke: #000;
    stroke-width: 384;
    stroke-dasharray: 100;
    transform-origin: 50% 50% 0;
    transition: stroke-width 350ms cubic-bezier(0.2, 1, 0.25, 1);
}

.donut-segment[data-type='gi'] {
    stroke: var(--color-class-gi);
}

.donut-segment[data-type='no-gi'] {
    stroke: var(--color-class-nogi);
}

.donut-segment[data-type='open-mat'] {
    stroke: var(--color-class-openmat);
}

.donut-segment:hover {
    stroke-width: 484;
}

.donut-key {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.donut-key__item {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    white-space: nowrap;
}

.donut-key__percent {
    opacity: 0.75;
}

// 360px
@media (min-width: 22.5rem) {
    .class-breakdown {
        grid-template-columns: 6rem 9rem;
        margin: 1.5rem auto 0;
    }
}

// 640px
@media (min-width: 40rem) {
    .class-breakdown {
        grid-template-columns: 8.5rem 10rem;
    }

    .donut-key__item {
        font-size: 1rem;
    }
}