.card-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.card-header::after {
    background: var(--color-hr);
    bottom: 0;
    border-radius: 1px;
    content: '';
    display: block;
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}

.card-header__title {
    font-size: 1.125rem;
    margin: 0;
}

.card-header__aside {
    opacity: 0.75;
    font-size: 0.875em;
}